* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Potta One', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  position: relative;

}

/*-----header----*/

header {
  width: 100%;  
}

header h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
  text-shadow: 2px 2px #406BA7;
}

/*-----main----*/

main {
  width: 69%;
  margin: auto;
  margin-top: 80px;
  position: relative;
}

/*-----section one----*/

.quadro {
  width: 150px;
  height: 180px;
  border-radius: 10px;
  background-image: url("../img/pattern.png");
  background-size: cover;
  background-size: 90%;
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  box-shadow: 6px 8px 7px rgba(52, 63, 82, 0.2);
}


.quadro.two_6 {
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-position: 23% 30%;
  background-size: cover 30%;
  background-repeat: no-repeat;
  position: relative;
}

h4 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #FF69B4;
}


.s_one {
  width: 100%;
  height: 200px;
  display: inline-block;
}


/*-----section two----*/

.s_two {
  width: 100%;
  margin-top: 20px;

}


/*-----section three----*/

.s_three {
  width: 100%;
  height: 270px;
  margin-top: 20px;
}

/*-----footer----*/

footer {
  width: 100%;
  height: 60px;
  position: absolute;
}

footer h6 {
  text-align: center;
}
